{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.author.email %}
      <li><a href="mailto:{{ site.author.email }}" aria-label="Email"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.author.googlescholar %}
      <li><a href="{{ site.author.googlescholar }}" aria-label="Google Scholar"><i class="ai ai-google-scholar ai-fw" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.author.orcid %}
      <li><a href="{{ site.author.orcid }}" aria-label="ORCID"><i class="ai ai-orcid ai-fw" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="https://github.com/{{ site.author.github }}" aria-label="GitHub"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a></li>
    {% endif %}
  </ul>
</div>

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}
</div>
